<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/1f2749e481.js" crossorigin="anonymous"></script>
  <title>Le Quellec Sébastien</title>
</head>
<body>

  <header>
    <img class="photo" src="img/seb.png" alt="Photo de Sebastien Le Quellec">
    <h1>Le Quellec Sébastien</h1>
    <p class="biography">
      Ancien Technicien Automobile, j'ai voulu me reconvertir pour voir de nouveaux horizons. Et quoi de mieux que d'aller dans une branche qui me passionne autant que le développement ? C'est pourquoi je me suis reconverti dans le développement web avec l'école O'Clock.
      <br />
      Je cherche à apprendre d'avantage en suivant une autre formation en alternance pour devenir Développeur Concepteur d'Application.
    </p>
    <div class="social-icons">
      <a href="https://github.com/LQ-Sebastien"><i class="fa-brands fa-github icon"></i></a>
      <a href="https://www.linkedin.com/in/sebastien-le-quellec/"><i class="fa-brands fa-linkedin icon"></i></a>
      <a href="https://twitter.com/LQSebastien"><i class="fa-brands fa-twitter icon"></i></a>
    </div>
  </header>

  <main>
    <!-- <img class="background" src="img/background.jpg" alt="Photo d'un paysage avec un lac et des montages"> -->
    <p>Ce site est en cours de construction... Il arrive bientôt 💪</p>
  </main>

  <footer>
    <p>©️ Copyright 2022 - Tous droits réservés - Le Quellec Sébastien</p>
  </footer>

</body>
</html>